@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {

    --cor-fundo: #252525db;
    --cor-fundo-header: #25252555;
    --cor-fundo-sidebar: #252525;
    --cor-branca: #D9D9D9;
    --cor-laranja: #df5302cd;
    --texto-principal: 'Cinzel Decorative', serif;
    --texto-header: "Kalam", cursive;
    --texto-secundário: 'Courier New', Courier, monospace;
    --tamanho-texto: 18px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--texto-header);
    background-color: var(--cor-fundo);
    color: var(--cor-branca);
}

.logo__header__OD {
    width: 70px;
}

.header,
.nav__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 50px;

}

.header {
    background-color: var(--cor-fundo-header);
    box-shadow: 1px 1px 4px var(--cor-fundo);
    height: 3.5em;
    justify-content: space-between;
    width: 100vw;




}

.nav__header {
    justify-content: center;
    align-items: center;
    gap: 2em;
    z-index: 2;
}

.nav__header a {
    color: var(--cor-branca);
    font-size: var(--tamanho-texto);
    font-weight: bold;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: var(--cor-laranja);
    transition: 1s;
}

.ativo {
    background-color: var(--cor-fundo);
    padding: 10px;
    border-radius: 10px;
}

.conteudo {
    text-align: start;
    font-family: var(--texto-secundário);
    height: 100vh;
    transition: 1s;
}

.botao__icone__header {
    background-color: transparent;
    border: none;
    color: var(--cor-branca);
    cursor: pointer;
    display: none;
}

/*------------ teste Busca ------------ */
search-container {
    position: relative;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;

}

input {
    height: 30px;
    font-family: var(--texto-secundário);
    font-size: var(--tamanho-texto);
    border: var(--cor-laranja) solid 2px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
}

.botao__busca {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}


/*------------ teste Busca ------------ */


.dropdown__menu {
    position: relative;
    border: 1px solid black;
}

.dropdown__menu a {
    display: block;

}





/*------------ teste lista ------------ */



.nav__header__lista__topico {
    display: flex;
    flex-direction: column;
}





/*------------ teste lista ------------ */

@media screen and (max-width: 768px) {
    .botao__icone__header {
        display: block;
    }

    .nav__header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--cor-fundo-sidebar);
        height: 100%;
        width: 40vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vh;
    }

    .botao__busca,
    input,
    .usuario {
        display: none;
    }

}


@keyframes mostrarBarra {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw;
    }
}